@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/open-sans-v40-latin-regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/open-sans-v40-latin-italic.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/open-sans-v40-latin-600.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/open-sans-v40-latin-600italic.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto-slab-v34-latin-regular.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/roboto-slab-v34-latin-700.woff2) format('woff2');
}

html {
  color-scheme: light dark;

  &.light {
    /* forces light color-scheme */
    color-scheme: light;
  }

  &.dark {
    /* forces dark color-scheme */
    color-scheme: dark;
  }
}

:root {
  --bg-color: light-dark(#fff, #333);
  --fg-color: light-dark(#555, #fff);
  --sidebar-bg: light-dark(#f5f6f7, #222);
  --table-bg-odd: light-dark(#f5f6f7, #3b3b3b);
  --table-bg-hover-text: light-dark(#fff, #fff);
  --dark-gray: #4e555b;
  --light-gray: #ccc;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--fg-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input,
select,
textarea {
  appearance: none;
}

@media screen and (max-width: 480px) {

  body,
  html {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background: var(--bg-color);
}

body.is-preload *,
body.is-preload :after,
body.is-preload :before,
body.is-resizing *,
body.is-resizing :after,
body.is-resizing :before {
  animation: none !important;
  transition: none !important;
}

body,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.65;
  color: var(--fg-color);
  background-color: var(--bg-color);
}

@media screen and (max-width: 1680px) {

  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {

  body,
  input,
  select,
  textarea {
    font-size: 10pt;
  }
}

@media screen and (max-width: 360px) {

  body,
  input,
  select,
  textarea {
    font-size: 9pt;
  }
}

a {
  transition:
    color 0.2s ease-in-out,
    border-bottom-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  text-decoration: none;
}

.post a {
  color: var(--main-color)
}

.post-title a:hover {
  border-bottom-color: var(--main-color);
  color: var(--main-color);
}


a:hover strong {
  color: inherit;
}

b,
strong {
  color: var(--fg-dark);
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 1em 0;
  color: var(--fg-color);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  border-bottom: 0;
  color: var(--fg-color);
}

h1 {
  font-size: 4em;
  margin: 0 0 0.5em 0;
  line-height: 1.3;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

@media screen and (max-width: 1680px) {
  h1 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 980px) {
  h1 {
    font-size: 3.25em;
  }
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
    line-height: 1.4;
  }

  h2 {
    font-size: 1.5em;
  }
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 3px var(--light-gray);
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  background: var(--fg-color);
  color: var(--bg-color);
  border-radius: 0.375em;
  border: solid 1px var(--light-gray);
  font-family: 'Courier New', monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  font-family: 'Courier New', monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px var(--light-gray);
  margin: 2em 0;
}

hr.major {
  margin: 3em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

article.special,
section.special {
  text-align: center;
}

header p {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.075em;
  margin-top: -0.5em;
  text-transform: uppercase;
}

header.major> :last-child {
  border-bottom: solid 3px var(--main-color);
  display: inline-block;
  margin: 0 0 2em 0;
  padding: 0 0.75em 0.5em 0;
}

header.main> :last-child {
  margin: 0 0 1em 0;
}

form {
  margin: 0 0 2em 0;
}

label {
  color: var(--fg-color);
  display: block;
  font-size: 1em;
  font-weight: 600;
  margin: 0 0 1em 0;
}

input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
textarea {
  background: var(--bg-color);
  border-radius: 0.375em;
  border: none;
  border: solid 1px var(--dark-gray);
  color: var(--fg-color);
  display: block;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type='email']:invalid,
input[type='password']:invalid,
input[type='search']:invalid,
input[type='tel']:invalid,
input[type='text']:invalid,
input[type='url']:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type='email']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
select:focus,
textarea:focus {
  border: none;
}

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='var(--light-gray)' /%3E%3C/svg%3E");
  background-size: 1.25em;
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) center;
  height: 2.75em;
  padding-right: 2.75em;
  text-overflow: ellipsis;
}

select option {
  color: var(--dark-gray);
  background: var(--bg-color);
}

input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type='checkbox']+label,
input[type='radio']+label {
  text-decoration: none;
  color: var(--fg-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}

input[type='checkbox']+label:before,
input[type='radio']+label:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

input[type='checkbox']+label:before,
input[type='radio']+label:before {
  background: var(--bg-color);
  border-radius: 0.375em;
  border: solid 1px var(--fg-color);
  content: '';
  display: inline-block;
  font-size: 0.8em;
  height: 2.0625em;
  left: 0;
  line-height: 2.0625em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.0625em;
}

input[type='checkbox']:checked+label:before,
input[type='radio']:checked+label:before {
  border-color: var(--main-color);
  color: var(--main-color);
  content: '✔';
}

input[type='checkbox']:focus+label:before,
input[type='radio']:focus+label:before {
  border-color: var(--main-color);
  box-shadow: 0 0 0 1px var(--main-color);
}

input[type='checkbox']+label:before {
  border-radius: 0.375em;
}

input[type='radio']+label:before {
  border-radius: 100%;
}

.box {
  border-radius: 0.375em;
  border: solid 1px var(--light-gray);
  margin-bottom: 2em;
  padding: 1.5em;
}

.box> :last-child,
.box> :last-child> :last-child,
.box> :last-child> :last-child> :last-child {
  margin-bottom: 0;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.image {
  border-radius: 0.375em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 0.375em;
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

a.image {
  overflow: hidden;
}

a.image img {
  transition: transform 0.2s ease;
}

a.image:hover img {
  transform: scale(1.075);
}

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

dl {
  margin: 0 0 2em 0;
}

dl dt {
  display: block;
  font-weight: 600;
  margin: 0 0 1em 0;
}

dl dd {
  margin-left: 2em;
}

ul.actions {
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1em;
  vertical-align: middle;
}

ul.actions.special {
  justify-content: center;
  width: 100%;
  margin-left: 0;
}

ul.actions.special li:first-child {
  padding-left: 0;
}

ul.actions.stacked {
  flex-direction: column;
  margin-left: 0;
}

ul.actions.stacked li {
  padding: 1.3em 0 0 0;
}

ul.actions.stacked li:first-child {
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon {
  color: inherit;
}

ul.icons li .icon:before {
  font-size: 1.25em;
}

ul.contact {
  list-style: none;
  padding: 0;
}

ul.contact li {
  text-decoration: none;
  border-top: solid 1px var(--light-gray);
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 3em;
  position: relative;
}

ul.contact li:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

ul.contact li:before {
  color: var(--main-color);
  display: inline-block;
  font-size: 1.5em;
  height: 1.125em;
  left: 0;
  line-height: 1.125em;
  position: absolute;
  text-align: center;
  top: 1em;
  width: 1.5em;
}

ul.contact li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

ul.contact li:first-child:before {
  top: 0;
}

ul.contact li a {
  color: inherit;
}

ul.pagination {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.pagination li {
  display: inline-block;
  padding-left: 0;
  vertical-align: middle;
}

ul.pagination li>.page {
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border-bottom: 0;
  border-radius: 0.375em;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 2em;
  line-height: 2em;
  margin: 0 0.125em;
  min-width: 2em;
  padding: 0 0.5em;
  text-align: center;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--table-bg-odd);
}

table tbody tr {
  border: solid 1px var(--light-gray);
  border-left: 0;
  border-right: 0;
}

table tbody tr:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

table tbody tr:nth-child(2n + 1):hover td {
  color: var(--table-bg-hover-text);
}

table tbody tr:hover td {
  color: var(--table-bg-hover-text);
}

table tbody tr:nth-child(2n + 1):hover td a {
  color: var(--table-bg-hover-text);
}

table tbody tr:hover td a {
  color: var(--table-bg-hover-text);
}

table tbody tr:hover td img {
  color: var(--table-bg-hover-text);
}

table tbody tr:hover td time {
  color: var(--table-bg-hover-text);
}

table tbody td a:hover {
  color: var(--bg-color);
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: var(--fg-color);
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
  padding: 1.5em;
  ;
}

table thead {
  border-bottom: solid 2px var(--light-gray);
}

table tfoot {
  border-top: solid 2px var(--light-gray);
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  appearance: none;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.375em;
  border: 0;
  box-shadow: inset 0 0 0 2px var(--main-color);
  color: var(--fg-color);
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.5em;
  letter-spacing: 0.075em;
  line-height: 3.5em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  background-color: var(--bg-color);
}

.button:active,
button:active,
input[type='button']:active,
input[type='reset']:active,
input[type='submit']:active {
  background-color: var(--bg-color);
}

.button.icon:before,
button.icon:before,
input[type='button'].icon:before,
input[type='reset'].icon:before,
input[type='submit'].icon:before {
  margin-right: 0.5em;
}

.button.small,
button.small,
input[type='button'].small,
input[type='reset'].small,
input[type='submit'].small {
  font-size: 0.6em;
}

.button.large,
button.large,
input[type='button'].large,
input[type='reset'].large,
input[type='submit'].large {
  font-size: 1em;
  height: 3.65em;
  line-height: 3.65em;
}

.button.primary,
button.primary,
input[type='button'].primary,
input[type='reset'].primary,
input[type='submit'].primary {
  background-color: var(--bg-color);
  box-shadow: none;
  color: var(--fg-color) !important;
}

.button.primary:hover,
button.primary:hover,
input[type='button'].primary:hover,
input[type='reset'].primary:hover,
input[type='submit'].primary:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
}

.button.primary:active,
button.primary:active,
input[type='button'].primary:active,
input[type='reset'].primary:active,
input[type='submit'].primary:active {
  background-color: var(--bg-color);
  color: var(--main-color);
}

.button.disabled,
.button:disabled,
button.disabled,
button:disabled,
input[type='button'].disabled,
input[type='button']:disabled,
input[type='reset'].disabled,
input[type='reset']:disabled,
input[type='submit'].disabled,
input[type='submit']:disabled {
  pointer-events: none;
  opacity: 0.25;
}

#sidebar li a:hover,
.post-title a:hover,
a.button:hover,
a.social-icon:hover,
button.preview:hover,
input:hover,
input[type='submit']:hover {
  background: var(--sidebar-bg);
  color: var(--fg-color);
}

a.button,
a.social-icon,
button.preview,
input,
input[type='submit'] {
  background: var(--bg-color);
  color: var(--fg-color) !important;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2em -6em;
  width: calc(100% + 6em);
}

.posts article {
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0 0 6em 6em;
  position: relative;
  width: calc(33.33333% - 6em);
}

.posts article:before {
  content: '';
  display: block;
  height: calc(100% + 6em);
  left: -3em;
  position: absolute;
  top: 0;
  width: 1px;
}

.posts article:after {
  bottom: -3em;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 0;
  width: calc(100% + 6em);
}

.posts article> :last-child {
  margin-bottom: 0;
}

.posts article .image {
  display: block;
  margin: 0 0 1rem 0;
}

.posts article .image img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1681px) {
  .posts article:nth-child(3n + 1):before {
    display: none;
  }

  .posts article:nth-child(3n + 1):after {
    width: 100%;
  }

  .posts article:nth-last-child(1),
  .posts article:nth-last-child(2),
  .posts article:nth-last-child(3) {
    margin-bottom: 0;
  }

  .posts article:nth-last-child(1):before,
  .posts article:nth-last-child(2):before,
  .posts article:nth-last-child(3):before {
    height: 100%;
  }

  .posts article:nth-last-child(1):after,
  .posts article:nth-last-child(2):after,
  .posts article:nth-last-child(3):after {
    display: none;
  }
}

@media screen and (max-width: 1680px) {
  .posts article {
    width: calc(50% - 6em);
  }

  .posts article:nth-last-child(3) {
    margin-bottom: 6em;
  }
}

@media screen and (min-width: 481px) and (max-width: 1680px) {
  .posts article:nth-child(2n + 1):before {
    display: none;
  }

  .posts article:nth-child(2n + 1):after {
    width: 100%;
  }

  .posts article:nth-last-child(1),
  .posts article:nth-last-child(2) {
    margin-bottom: 0;
  }

  .posts article:nth-last-child(1):before,
  .posts article:nth-last-child(2):before {
    height: 100%;
  }

  .posts article:nth-last-child(1):after,
  .posts article:nth-last-child(2):after {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  .posts {
    margin: 0 0 2em -4.5em;
    width: calc(100% + 4.5em);
  }

  .posts article {
    margin: 0 0 4.5em 4.5em;
    width: calc(50% - 4.5em);
  }

  .posts article:before {
    height: calc(100% + 4.5em);
    left: -2.25em;
  }

  .posts article:after {
    bottom: -2.25em;
    width: calc(100% + 4.5em);
  }

  .posts article:nth-last-child(3) {
    margin-bottom: 4.5em;
  }
}

@media screen and (max-width: 480px) {
  .posts {
    margin: 0 0 2em 0;
    width: 100%;
  }

  .posts article {
    margin: 0 0 4.5em 0;
    width: 100%;
  }

  .posts article:before {
    display: none;
  }

  .posts article:after {
    width: 100%;
  }

  .posts article:last-child {
    margin-bottom: 0;
  }

  .posts article:last-child:after {
    display: none;
  }
}

#wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#main {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

#main>.inner {
  padding: 0 6em 0.1em 6em;
  margin: 0 auto;
  max-width: 110em;
}

#main>.inner>section {
  padding: 6em 0 4em 0;
  border-top: solid 2px var(--light-gray);
}

#main>.inner>section:first-of-type {
  border-top: 0 !important;
}

@media screen and (max-width: 1680px) {
  #main>.inner {
    padding: 0 5em 0.1em 5em;
  }

  #main>.inner>section {
    padding: 5em 0 3em 0;
  }
}

@media screen and (max-width: 1280px) {
  #main>.inner {
    padding: 0 4em 0.1em 4em;
  }

  #main>.inner>section {
    padding: 4em 0 2em 0;
  }
}

@media screen and (max-width: 736px) {
  #main>.inner {
    padding: 0 2em 0.1em 2em;
  }

  #main>.inner>section {
    padding: 3em 0 1em 0;
  }
}

#search form {
  text-decoration: none;
  position: relative;
}

#search form:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

#search form:before {
  transform: scaleX(-1);
  color: var(--light-gray);
  content: '\f002';
  cursor: default;
  display: block;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  opacity: 0.325;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2em;
}

#search form input[type='text'] {
  padding-right: 2.75em;
}

#sidebar.open {
  display: block;
}

#sidebar.close {
  display: none;
}

#sidebar {
  color: var(--fg-color);
  text-transform: uppercase;
  flex-grow: 0;
  flex-shrink: 0;
  transition:
    margin-left 0.5s ease,
    box-shadow 0.5s ease;
  background-color: var(--sidebar-bg);
  font-size: 0.9em;
  position: relative;
  width: 26em;
}

#sidebar label {
  color: var(--fg-color);
}

#sidebar a,
#sidebar li a {
  color: var(--fg-color);
  background: var(--sidebar-bg);
}

#sidebar h2 {
  font-size: 1.38889em;
}

#sidebar>.inner {
  padding: 2.22222em 2.22222em 2.44444em 2.22222em;
  position: relative;
  width: 26em;
}

#sidebar>.inner>* {
  margin: 0 0 3.5em 0;
  padding: 0 0 3.5em 0;
}

#sidebar>.inner>*> :last-child {
  margin-bottom: 0;
}

#sidebar>.inner> :last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#sidebar>.inner>.alt {
  background-color: var(--light-gray);
  border-bottom: 0;
  margin: -2.22222em 0 4.44444em -2.22222em;
  padding: 2.22222em;
  width: calc(100% + 4.44444em);
}

#toggle {
  text-decoration: none;
  transition: left 0.5s ease;
  border: 0;
  display: block;
  height: 7.5em;
  line-height: 7.5em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -15em;
  white-space: nowrap;
  top: 0;
  width: 6em;
  z-index: 10000;
  cursor: pointer;
  border: none;
  box-shadow: none;

}

#toggle:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

#toggle:before {
  content: '☰';
  font-size: 2rem;
  height: inherit;
  left: 0;
  line-height: inherit;
  position: absolute;
  text-indent: 0;
  top: 0;
  width: inherit;
}

#toggle.open {
  left: 30em
}

@media screen and (min-width: 1281px) {
  #toggle {
    display: none;
  }
}

#sidebar.inactive {
  margin-left: -26em;
}

@media screen and (max-width: 1680px) {
  #sidebar {
    width: 24em;
  }

  #sidebar>.inner {
    padding: 1.66667em 1.66667em 1.33333em 1.66667em;
    width: 24em;
  }

  #sidebar>.inner>.alt {
    margin: -1.66667em 0 3.33333em -1.66667em;
    padding: 1.66667em;
    width: calc(100% + 3.33333em);
  }

  #sidebar.inactive {
    margin-left: -24em;
  }
}

@media screen and (max-width: 1280px) {
  #sidebar {
    box-shadow: 0 0 5em 0 var(--dark-gray);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
  }

  #sidebar.inactive {
    box-shadow: none;
  }

  #sidebar>.inner {
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
  }

  #sidebar>.inner:after {
    content: '';
    display: block;
    height: 4em;
    width: 100%;
  }
}

#header {
  border-bottom: solid 5px var(--main-color);
  padding: 6em 0 1em 0;
  position: relative;
}

#header>* {
  margin-bottom: 0;
}

#header .logo {
  border-bottom: 0;
  color: var(--fg-color);
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  padding-bottom: 0.5em;
}

#header .logo a {
  color: var(--fg-color);
}

#header .logo a:hover {
  color: var(--main-color);
}

#header .icons {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0.5em;
}

@media screen and (max-width: 1680px) {
  #header {
    padding-top: 5em;
  }
}

@media screen and (max-width: 736px) {
  #header {
    padding-top: 6.5em;
  }

  #header .logo {
    font-size: 1.5em;
    margin: 0;
  }

  #header .icons {
    height: 5em;
    line-height: 5em;
    position: absolute;
    right: -0.5em;
    top: 0;
  }
}

#banner {
  padding: 6em 0 4em 0;
  display: flex;
}

#banner h1 {
  margin-top: -0.125em;
}

#banner .content {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}

#banner .image {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  margin: 0 0 2em 4em;
  width: 50%;
}

#banner .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

#footer .copyright {
  color: var(--fg-color);
  font-size: 0.9em;
}

#footer .copyright a {
  color: inherit;
}

#menu ul {
  user-select: none;
  color: var(--dark-gray);
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 0.075em;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
}

#menu ul a,
#menu ul span {
  border-bottom: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  font-size: 0.9em;
  padding: 0.625em 0;
}

#menu ul a:hover,
#menu ul span:hover {
  color: var(--main-color);
}

#menu ul a.opener,
#menu ul span.opener {
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  position: relative;
}

#menu ul a.opener:before,
#menu ul span.opener:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
}

#menu ul a.opener:before,
#menu ul span.opener:before {
  transition:
    color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  color: var(--light-gray);
  content: '\f078';
  position: absolute;
  right: 0;
}

#menu ul a.opener:hover:before,
#menu ul span.opener:hover:before {
  color: var(--main-color);
}

#menu ul a.opener.active+ul,
#menu ul span.opener.active+ul {
  display: block;
}

#menu ul a.opener.active:before,
#menu ul span.opener.active:before {
  transform: rotate(-180deg);
}

#menu ul>li {
  border-top: solid 1px var(--light-gray);
  margin: 0.5em 0 0 0;
  padding: 0.5em 0 0 0;
}

#menu ul>li>ul {
  margin: 0.5em 0 1.5em 0;
  padding-left: 1em;
}

#menu ul>li>ul a,
#menu ul>li>ul span {
  font-size: 0.8em;
}

#menu ul>li>ul>li {
  margin: 0.125em 0 0 0;
  padding: 0.125em 0 0 0;
}

#menu ul>li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

@media (prefers-reduced-motion: reduce) {

  *,
  ::after,
  ::before {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  text-align: right;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 100;
}

.skip-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.75em;
  line-height: 1;
  padding-bottom: 0.5em;
}

.skip-links li a {
  border: none;
}

.skip-links li a:link,
.skip-links li a:visited {
  color: var(--fg-color);
}

.blogdesc {
  font-size: 1rem;
}

#breadcrumb {
  font-size: 0.8em;
  margin-top: 0.5em;
}

#banner h2.post-title {
  font-size: 2rem;
  margin-bottom: 0;
}

#banner {
  padding: 0 0 5em;
  margin-bottom: 3rem;
}

#banner .post-content {
  font-size: x-large;
  font-weight: bolder;
}

h2.post-title {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--fg-color);
}

h2.post-title a {
  color: var(--fg-color);
}

h2.post-title a:hover {
  color: var(--main-color);
}

.posts h2.post-title {
  font-size: 1.3rem;
}

.post-day-date {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.post-featured-media img {
  max-width: 100%;
  border-radius: 0.375em;
}

.dc-post .post-content,
.dc-post .post-excerpt {
  margin-top: 2rem;
}

.dc-post .post-content img,
.dc-post .post-excerpt img {
  max-width: 100%;
  border-radius: 0.375em;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Slab', serif;
}

.post-feedback {
  font-family: 'Roboto Slab', serif;
}

.comments-list {
  text-transform: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  border-top: 1px solid var(--light-gray);
  padding-top: 2em;
  padding-bottom: 2em;
}

@media screen and (max-width: 600px) {

  .navlinks,
  .pagination {
    flex-direction: column;
    text-align: center;
  }
}

.actions {
  margin-top: 1em;
}

.box {
  font-family: 'Roboto Slab', serif;
}

#subcategories ul,
ul.post-attachments-list,
ul.post-tags-list {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#subcategories ul li,
ul.post-attachments-list li,
ul.post-tags-list li {
  display: inline;
  padding: 0;
  margin: 0 1em 0 0;
}

ul.post-attachments-list {
  margin-bottom: 2rem;
}

.dc-post p.post-info {
  margin-bottom: 0.5em;
}

#subcategories ul {
  margin: 0 0 4rem 0;
}

.dc-post .post-info nav {
  margin-top: 1.5em;
}

.widget {
  margin-bottom: 3em;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 1em;
}

#search.widget p {
  display: flex;
  justify-content: space-between;
}

#search.widget input.submit {
  height: inherit;
  margin-left: 0.2rem;
  color: var(--fg-color) !important;
}

#search.widget input.submit:hover {
  height: inherit;
  margin-left: 0.2rem;
  color: var(--main-color) !important;
}

#search form:before {
  display: none;
}

#sidebar.inactive .inner {
  display: none;
}

a:focus {
  outline: var(--main-color) dotted 1px;
}

.posts .post-featured-media img {
  object-fit: cover;
  width: 100%;
  height: 12rem;
}

#banner .post-featured-media img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
}

#footer {
  text-align: center;
}

#gotop {
  display: none;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0.5em;
  width: 10em;
  padding: 0.25em;
  border: 1px solid var(--dark-gray);
  border-radius: 0.25em;
  background-color: var(--bg-color);
  font-size: 0.875em;
  text-align: center;
}

#gotop a {
  color: var(--fg-color);
}

#gotop a:hover {
  color: var(--main-color);
}

header.major> :last-child {
  border-bottom: solid 3px var(--main-color);
}

input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
textarea {
  border-color: var(--fg-color);
}

input[type='email']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
select:focus,
textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 1px var(--main-color);
}

input[type='checkbox']:focus+label:before,
input[type='radio']:focus+label:before {
  border-color: var(--main-color);
  box-shadow: 0 0 0 1px var(--main-color);
}

ul.contact li:before {
  color: var(--main-color);
}

ul.pagination li>.page.active {
  background-color: var(--main-color);
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  box-shadow: inset 0 0 0 2px var(--main-color);
  color: var(--fg-color) !important;
}

.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  box-shadow: inset 0 0 0 2px var(--main-color);
  color: var(--main-color) !important;
}

.button.primary,
button.primary,
input[type='button'].primary,
input[type='reset'].primary,
input[type='submit'].primary {
  background-color: var(--main-color);
}

#header {
  border-bottom: solid 5px var(--main-color);
}

#menu ul a:hover,
#menu ul span:hover {
  color: var(--main-color);
}

#menu ul a.opener:hover:before,
#menu ul span.opener:hover:before {
  color: var(--main-color);
}

.widget {
  border-bottom: 1px solid var(--main-color);
}

.error {
  border-radius: 0.375em;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 1.2em;
  font-weight: 700;
  padding: 1em;
}

a.button,
a.social-icon,
button.preview,
input,
input[type='submit'] {
  background: var(--bg-color);
  color: var(--fg-color);
}

.social-icon svg {
  width: 1.5em;
  height: 1.5em;
}

a.social-icon .svg:hover {
  color: var(--main-color);
}

a.social-icon {
  border-bottom: none;
}

.jstElements button {
  border: none !important;
  box-shadow: none;
  color: var(--light-fg) !important;
}