/* Dark mode for Editorial theme */

#sidebar,
#sidebar a,
#sidebar a span,
#sidebar label,
#sidebar li,
#sidebar li a,
#sidebar span,
.button,
.post-title,
a:hover .button,
a:hover .submit,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
select,
input,
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=checkbox],
input[type=submit],
input[type=button],
input[type=reset],
input[type="checkbox"]+label::before,
input[type="radio"]+label::before,
a.social-icon,
label,
p,
strong,
textarea {
    background: #333 !important;
    color: #fff !important
}

.button:hover,
button:hover,
a strong:hover,
a:hover,
a.social-icon:hover,
#sidebar li a:hover,
#sidebar a:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover,
input[type=checkbox]:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    color: var(--main-color) !important
}