/* Dark mode for Editorial theme */
@media (prefers-color-scheme: dark) {

    #sidebar,
    #sidebar a,
    #sidebar a span,
    #sidebar label,
    #sidebar li,
    #sidebar li a,
    #sidebar span,
    .button,
    .post-title a,
    a:hover,
    button.preview:hover,
    input.submit:hover,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    input[type=checkbox],
    input[type=submit],
    input[type=button],
    input[type=reset],
    input[type=submit],
    input[type="checkbox"]+label::before,
    input[type="radio"]+label::before,
    input[type=checkbox]:hover,
    input[type=button]:hover,
    input[type=reset]:hover,
    input[type=submit]:hover,
    label,
    select,
    p,
    strong,
    textarea {
        background: #333;
        color: #fff
    }

    input:hover, input[type=submit]:hover, button.preview:hover, a.button:hover, .post-title a:hover, a.social-icon:hover, #sidebar li a:hover, #sidebar p a:hover {
        background: #333 !important;
        color: var(--main-dark-color) !important
    }

    input, input[type=submit], button.preview, a.social-icon, a.button {
        background: #333 !important;
        color: #fff !important
    }

    a strong:hover,
    a,
    #sidebar a:hover,
    input[type=checkbox]:checked+label:before,
    input[type=radio]:checked+label:before,
    #menu ul a:hover,
    #menu ul span:hover,
    #menu ul a.opener:hover:before,
    #menu ul span.opener:hover:before,
    #accessconfig button:hover,
    ul.contact li:before,
    .button,
    button,
    input[type=button],
    input[type=reset],
    input[type=submit],
    .features article .icon:before,
    a.social-icon:hover,
    #sidebar li a:hover,
    #sidebar a:hover {
        color: var(--main-dark-color);
    }

    .error,
    .button.primary,
    button.primary,
    input[type=button].primary,
    input[type=reset].primary,
    input[type=submit].primary,
    ul.pagination li>.page.active,
    ul.pagination li>.page.active .button.primary,
    button.primary,
    input[type=button].primary,
    input[type=reset].primary,
    input[type=submit].primary {
        background-color: var(--main-dark-color);
    }

    a:hover {
        border-bottom-color: var(--main-dark-color);
    }

    input[type=checkbox]:checked+label:before,
    input[type=radio]:checked+label:before,
    input[type=checkbox]:focus+label:before,
    input[type=radio]:focus+label:before,
    input[type=email]:focus,
    input[type=password]:focus,
    input[type=search]:focus,
    input[type=tel]:focus,
    input[type=text]:focus,
    input[type=url]:focus,
    select:focus,
    textarea:focus,
    input[type=checkbox]:focus+label:before,
    input[type=radio]:focus+label:before {
        border-color: var(--main-dark-color);
    }

    header.major>:last-child {
        border-bottom: solid 3px var(--main-dark-color);
    }

    #header {
        border-bottom: solid 5px var(--main-dark-color);
    }

    .widget {
        border-bottom: 1px solid var(--main-dark-color);
    }

    .button,
    button,
    input[type=button],
    input[type=reset],
    input[type=submit],
    input[type=email]:focus,
    input[type=password]:focus,
    input[type=search]:focus,
    input[type=tel]:focus,
    input[type=text]:focus,
    input[type=url]:focus,
    select:focus,
    textarea:focus,
    input[type=checkbox]:focus+label:before,
    input[type=radio]:focus+label:before,
    input[type=button],
    input[type=reset],
    input[type=submit] {
        box-shadow: 0 0 0 2px var(--main-dark-color);
    }

    .jstElements button {
        border: none;
        box-shadow: none;
    }


}