/* Dark mode for Editorial theme */
@media (prefers-color-scheme: dark) {

    #sidebar,
    #sidebar a,
    #sidebar a span,
    #sidebar label,
    #sidebar li,
    #sidebar li a,
    #sidebar span,
    .button,
    .post-title,
    a:hover .button,
    a:hover .submit,
    body,
    button,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    input[type=checkbox],
    input[type=submit],
    input[type=button],
    input[type=reset],
    input[type=submit],
    input[type="checkbox"]+label::before,
    input[type="radio"]+label::before,
    a.social-icon,
    label,
    p,
    strong,
    textarea {
        background: #333 !important;
        color: #fff !important
    }

    .button:hover,
    button:hover,
    a strong:hover,
    a:hover,
    a.social-icon:hover,
    #sidebar li a:hover,
    #sidebar a:hover,
    input[type=checkbox]:hover,
    input[type=button]:hover,
    input[type=reset]:hover,
    input[type=submit]:hover {
        color: var(--main-color) !important
    }
}